<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    'idlerpg' => [
        'bot_nick'     => 'idlebot',
        'bot_channel'  => '#idlerpg',
        'bot_db'       => '/home/idle/irpg.db',
        'bot_item'     => '/root/idlerpg/module/Application/test/testcases/mapitems.db',
        'bot_mod'      => '/root/idlerpg/module/Application/test/testcases/modifiers.txt',
        'bot_quest'    => '/home/idle/questinfo.txt',

        'network_name' => 'ExampleNet',
        'network_host' => 'irc.example.org',

        'map_image'    => '/img/themap.png',
        'map_width'    => 800,
        'map_height'   => 400,
    ]
];
